@charset "utf-8";
/**
 * log
 * 2016-10-18 トップページの修正に伴い940pxまでのスタイルを追加、納期表示のフォント指定を更新
 * 
 */


/*===============================================
●style.css 画面の横幅が769px以上
===============================================*/
@media screen and (min-width: 769px){


#inqmail_btn .ontel{
	display:none;
}

#headside #inqmail_btn{
	float: right;
}

.orderbtn_item li {
    float: left;
    margin: 1px 0;
    width: 8.3%;
}
.orderbtn .seence {
    margin: 1px 5px;
    width: 32%;
}

.topdescrip .leftimg.logo {
    padding: 7% 3% 3%;
    width: 40%;
}


}

/*===============================================
●top 画面の横幅が940pxまで
 納期表示
===============================================*/
@media screen and (max-width: 940px){
	#plandays > div {
		font-size: 2.2vw
	}
}


/*===============================================
●tablet.css 画面の横幅が768pxまで
===============================================*/
@media screen and (max-width: 768px){


#headside {
    float: right;
    width: 45%;
    margin-top: 10px;
}

#headside .offtel{
	display:none;
}


#headside #inqmail_btn .ontel {
    display: block;
}

#global_nav {
    width: 100%;
    margin: 0 auto;
    letter-spacing: 1px;
}

.orderbtn li {
    float: left;
    margin: 1px 0;
    width: 16.6%;
}

.orderbtn .seence {
    margin: 1px 5px;
    width: 31.2%;
}

.topdescrip_content .newtxt {
    text-align: left;
    overflow: auto;
    height: 100px;
}

.topdescrip .leftimg {
    display: block;
    width: 40%;
    float: left;
    margin-top: 40px;
}


.topdescrip .leftimg.logo {
    width: 40%;
    padding: 5% 1% 3%;
}

.topdescrip_content {
    padding: 10px;
    text-align: left;
    width: 55%;
    float: right;
}

.totop {
    padding-top: 10px;
    text-align: right;
    clear: both;
}

#flowimg {
    padding-bottom: 10px;
    float: none;
    width: 100%;
}
#plans {
    width: 100%;
    float: none;
}
#plandays > div {
	font-size: 4.5vw
}
.content li {
    background: #383838;
    padding: 10px 20px;
    border-left: 1px solid #D8CDBF;
    border-bottom: 1px solid #D8CDBF;
    border-right: 1px solid #D8CDBF;
    color: #fff;
    text-align: left;
    height: 155px;
}
.datewrap span.date {
    background: #fff;
    border-radius: 10px;
    font-size: 30px;
    display: block;
    width: 40px;
    color: #C30D23;
    float: left;
    font-weight: bold;
    text-align: center;
    margin-right: 3px;
    line-height: 40px;
    padding-top: 5px;
}

.crumbs_wrap .crumbs p {
    color: #fff;
    border-radius: 50%;
    background: #cccccc;
    float: left;
    font-size: 1.1em;
    padding: 25% 10% 20% 15%;
    width: 70%;
}

.crumbs_wrap .pass p {
    color: #fff;
    border-radius: 50%;
    width: 70%;
    background: #63823f;
    float: left;
    font-size: 1.1em;
    padding: 25% 10% 20% 15%;
}

.recitembox {
    float: left;
    margin-right: 5px;
    width: 31.5%;
    border: 1px solid #BFBFBF;
    font-size: 80%;
    background: #fff;
    box-shadow: 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px #ccc;
    -webkit-box-shadow: 1px 1px 1px #ccc;
    cursor: pointer;
    margin-left: 5px;
}

.point_s {
    font-weight: bold;
    color: #C60;
    font-size: .8em;
    margin: 5px 5px 0;
}

.inkbox {
    position: relative;
    float: right;
    width: 450px;
    height: 140px;
    padding: 10px 0px;
    overflow: auto;
}

.inkbox table {
    width: 450px;
}

.listitems_ex {
    border: 1px solid #BFBFBF;
    width: 24%;
    float: left;
    margin-left: 5px;
    margin-bottom: 20px;
    font-size: 70%;
    background: #fff;
    box-shadow: 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px #ccc;
    -webkit-box-shadow: 1px 1px 1px #ccc;
    cursor: pointer;
}

#step1 {
    padding-bottom: 50px;
}

#pos_wrap > div {
    clear: both;
    display: inline-block;
    width: 99.8%;
    margin-bottom: 10px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #eae7d2;
    border-radius: 3px;
}

#estimation_wrap table .del_cart {
    background: none;
}

#note_design, #note_printcolor {
    width: 100%;
    height: 100px;
}

#userinfo .inner {
    padding: 20px 0px;
    width: 100%;
}

#userinfo .fl {
    float: left;
    width: 42%;
}
#userinfo .fr {
    float: right;
    width: 54%;
}

#userinfo ul {
    margin-left: 10px;
		width: 250px;
}

#userinfo textarea, #userinfo #addr1, #userinfo #addr2, #userinfo #deliaddr1, #userinfo #deliaddr2 {
    width: 97%;
}

#step6 table {
    width: 100%;
}

p.scroll_top {
    clear: both;
    width: 100%;
    margin: 20px auto;
    text-align: right;
}

#mainwrap #main h2.righttxt {
    font-size: 2em;
    letter-spacing: 1px;
    text-align: right;
    padding-right: 3%;
    color: #ffffff;
}

#history_table tbody td #itmname{
	width:150px;
}

}
/*===============================================
●smart.css  画面の横幅が640pxまで
===============================================*/
@media screen and (max-width:640px){



#logo {
    width: 100%;
    float: none;
}
#headside {
    float: none;
    width: 100%;
    margin: 0 10%;
}

#headside .offtel {
    display: none;
}


#inqmail_btn li {
    float: left;
    padding-left: 5px;
    width: 15%;
}

#global_nav {
    width: 100%;
    margin: 0 auto;
    letter-spacing: 1px;
}


.orderbtn li {
    float: left;
    margin: 1px 0;
    width: 16.6%;
}

.orderbtn .seence {
    margin: 1px 2%;
    width: 46%;
}

.topdescrip_content {
    padding: 10px 2%;
    text-align: left;
    width: 95%;
    float: none;
}

.topdescrip .leftimg.logo {
    padding: 10% 2%;
    width: 95%;
}
.topdescrip .leftimg {
    display: block;
    width: 100%;
    float: none;
}

.tab li {
    background: #EFE8DF;
    padding: 5px 0% 5px;
    float: left;
    width: 24.4%;
    border-left: 1px solid #D8CDBF;
    border-top: 1px solid #D8CDBF;
    border-right: 1px solid #D8CDBF;
    font-weight: bold;
}

.crumbs_wrap .crumbs {
    float: left;
    width: 16.6%;
}

.crumbs_wrap .arr {
    float: right;
    border: 5px solid transparent;
    border-left: 5px solid #cccccc;
    margin: 25% 0 0 2%;
    width: 0;
    height: 0;
}

.crumbs_wrap .crumbs p {
    color: #fff;
    border-radius: 50%;
    background: #cccccc;
    float: left;
    font-size: .6em;
    padding: 18% 10% 18% 10%;
    width: 70%;
}

.crumbs_wrap .pass p {
    color: #fff;
    border-radius: 50%;
    width: 70%;
    background: #63823f;
    float: left;
    font-size: .6em;
    padding: 18% 10% 18% 10%;
}

.contents #gall h2 {
    background: #63823f;
    padding: 20px 10px;
    color: #ffffff;
    width: 100%;
    font-size: 1em;
    text-align: left;
}

.step_inner {
    width: 100%;
    margin-top: 10px;
}

.recommend_item, .listitems {
    padding: 10px 0 10px;
    clear: both;
}


.recommend_item>li:hover {
    border: 1px solid #e1630e;
}
.recitembox {
    float: left;
    margin: 0;
    margin-right: 10px;
    margin-bottom: 40px;
    width: 99%;
    border: 1px solid #BFBFBF;
    font-size: 80%;
    background: #fff;
    box-shadow: 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px #ccc;
    -webkit-box-shadow: 1px 1px 1px #ccc;
    cursor: pointer;
}

ul.recommend_item li.firstrecommend, li.firstlist {
    margin-left: 0;
}
.listitems_ex {
    border: 1px solid #BFBFBF;
    width: 48.5%;
    float: left;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 20px;
    font-size: .6em;
    background: #fff;
    box-shadow: 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px #ccc;
    -webkit-box-shadow: 1px 1px 1px #ccc;
    cursor: pointer;
}

.point_s {
    font-weight: bold;
    color: #C60;
    font-size: .8em;
    margin: 5px 5px 0;
}

.item_name_s {
    margin: 0 6px;
    font-size: 12px;
}

#step1 {
    padding-bottom: 30px;
}

#cur_item_name {
    font-size: 1em;
    font-weight: normal;
}

#cur_item_name_wrap {
    margin: 10px;
    font-weight: bold;
    font-size: .8em;
}

#step2 .item_image {
    float: right;
    width: 100%;
    border: 1px solid #eae7d2;
    border-radius: 3px;
    margin: 0;
    margin-bottom: 10px;
}

#step2 .item_image img {
    width: 100%;
}

#step2 .size_table th {
    padding-top: 10px;
    text-align: right;
    border-bottom: 1px solid #eae7d2;
    font-size: .8em;
}

#step2 .size_table input.forNum {
    width: 3em;
    padding: 4px 1px;
    text-align: right;
}
th, td {
    padding: 2px 0px;
    vertical-align: middle;
    font-size: .9em;
}

#message, .message {
    width: 95%;
    height: 200px;
    padding: 3px;
    font-size: 100%;
    border: 1px solid #aaa;
    background-color: #ffffff;
}

.btn_line {
    margin: 0 10px;
    text-align: center;
}

.arrow_line .step_next {
    float: left;
    width: 70%;
    height: 31px;
    margin: 1px 10px 0 28%;
    padding-left: 10%;
    line-height: 32px;
    text-align: left;
    color: #fff;
    cursor: pointer;
}

p.scroll_top {
    clear: both;
    width: 95%;
    margin: 20px auto;
    text-align: right;
}

#pos_wrap > div {
    clear: both;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    padding: 20px 0 10px 0px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #eae7d2;
    border-radius: 3px;
}

.posimg {
    position: relative;
    padding-left: 5px;
    left: 15%;
    width: 80%;
}

.inkbox {
    position: relative;
    float: right;
    width: 100%;
    height: 80;
    padding: 10px 0px;
    overflow: auto;
}

.inkbox table {
    width: 100%;
}

#estimation_wrap table td {
    padding: 2px 0px 2px 0px;
    font-size: 11px;
    border-bottom: 1px solid #d8d8d8;
}

#estimation_wrap table .btn_sub {
    padding: 4px 15px;
    font-size: 1em;
    font-weight: normal;
    float: left;
}

#estimation_wrap table .btn_sub {
    padding: 4px 14px;
    font-size: 1em;
    font-weight: normal;
    float: left;
}

#estimation_wrap table td img {
    padding-left: 15px;
    padding-top: 5px;
}

#note_design, #note_printcolor {
    width: 100%;
    height: 100px;
}
#userinfo .fr {
    width: 100%;
}

#userinfo textarea, #userinfo #addr1, #userinfo #addr2, #userinfo #deliaddr1, #userinfo #deliaddr2 {
    width: 100%;
}

#step6 table {
    width: 100%;
}

#conf_user tbody th, #conf_option tbody th {
    width: 90px;
}

#sendorder {
    width: 100%;
    height: 31px;
    margin: 20px auto 0px;
    padding-left: 10px;
    line-height: 32px;
    text-align: center;
    font-size: 125%;
    color: #fff;
    cursor: pointer;
    padding-right: 100px;
}

p.scroll_top {
    clear: both;
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

p.scroll_top a {
    text-decoration: none;
}

#estimation_wrap table .del_cart {
    background: none;
}

.line_wrapper .cell {
    float: left;
    width: 97%;
    margin: 0 0 30px 5px;
}

.c_text .name_wrap {
    height: 40px;
    margin-bottom: 15px;
}

.c_text .name_wrap a {
    font-size: 1.3em;
}

.c_text .price2, .c_text .size {
    line-height: 1;
    font-size: 1.2em;
}

.c_text .price2 span {
    font-size: 1.2em;
}

.line_wrapper .cell .c_img img {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    width: 90%;
}

.section h2 {
    padding: 30px 2% 5px;
    font-family: 'Anton', "メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","Osaka","ＭＳ Ｐゴシック",sans-serif;
    font-size: 1.3em;
    clear: both;
    text-align: center;
    width: 90%;
}

.tab-content .tab-box {
    width: 98%;
    padding: 0;
    border: 2px solid #981B20;
    box-sizing: content-box;
    display: block;
    height: auto;
}

.tab-content .tab-box .left_font {
    float: none;
    width: 100%;
}

.tab-content .tab-box .right_font {
    float: none;
    width: 100%;
}

.content-lv3 h3 {
    color: #000;
    padding: 5px 0 5px;
    border-bottom: 2px solid #981B20;
    width: 95%;
    font-size: 1.5em;
    text-align: center;
    margin: 20px auto;
    line-height: 1.5;
}

.tab-content .tab-box .left_font h4, .tab-content .tab-box .right_font h4 {
    font-size: 1.3em;
    background: #f1f1f1;
    width: 100%;
    padding: 25px 0 5px;
    text-align: left;
    color: #000000;
    margin: 0;
    text-indent: .8em;
}

#mainwrap #main h2.righttxt {
    font-size: 1.3em;
    letter-spacing: 1px;
    text-align: right;
    padding-right: 2%;
    color: #ffffff;
}

.remarks {
    margin: 15px;
    padding: 2.2em 1.2em 1em;
    border: 3px solid #e1630e;
    border-radius: 3px;
}

.remarks strong {
    margin-bottom: 1em;
    font-size: 1.3em;
    color: #4e2210;
    padding-left: 60px;
}



}

@charset "utf-8";
/**
 * log
 * 2016-10-18 トップページの修正に伴い940pxまでのスタイルを追加、納期表示のフォント指定を更新
 * 
 */


/*===============================================
●style.css 画面の横幅が769px以上
===============================================*/
@media screen and (min-width: 769px){


#inqmail_btn .ontel{
	display:none;
}

#headside #inqmail_btn{
	float: right;
}


.orderbtn li {
    float: left;
    margin: 0px 8px 35px 8px;
    width: 31%;
}

.orderbtn .seence {
    margin: 7px 5px;
    width: 32%;
}

.topdescrip .leftimg.logo {
    padding: 11% 3%;
    width: 45%;
}
    
    .topdescrip .leftimg.logo_2 {
        padding: 0%;
        width: 45%;
        display: inline-block;
    }

}

/*===============================================
●top 画面の横幅が940pxまで
 納期表示
===============================================*/
@media screen and (max-width: 940px){
	#plandays > div {
		font-size: 2.2vw
	}
	
}



/*===============================================
●tablet.css 画面の横幅が768pxまで
===============================================*/
@media screen and (max-width: 768px){


#headside {
    float: right;
    width: 45%;
    margin-top: 10px;
}

#headside .offtel{
	display:none;
}


#headside #inqmail_btn .ontel {
    display: block;
}

#global_nav {
    width: 100%;
    margin: 0 auto;
    letter-spacing: 1px;
}

.orderbtn_item li {
    float: left;
    margin: 1px 0;
    width: 16.6%;
}

.orderbtn .seence {
    margin: 1px 5px;
    width: 31.2%;
}

.topdescrip_content .newtxt {
    text-align: left;
    overflow: auto;
    height: 100px;
}

.topdescrip .leftimg {
    display: block;
    width: 40%;
    float: left;
    margin-top: 40px;
}


.topdescrip .leftimg.logo {
    width: 40%;
    padding: 5% 1% 3%;
}

.topdescrip_content {
    padding: 10px;
    text-align: left;
    width: 55%;
    float: right;
}

.totop {
    padding-top: 10px;
    text-align: right;
    clear: both;
}

#flowimg {
    padding-bottom: 10px;
    float: none;
    width: 100%;
}
#plans {
    width: 100%;
    float: none;
}
#plandays > div {
	font-size: 4.5vw
}
.content li {
    background: #383838;
    padding: 10px 20px;
    border-left: 1px solid #D8CDBF;
    border-bottom: 1px solid #D8CDBF;
    border-right: 1px solid #D8CDBF;
    color: #fff;
    text-align: left;
    height: 155px;
}
.datewrap span.date {
    background: #fff;
    border-radius: 10px;
    font-size: 30px;
    display: block;
    width: 40px;
    color: #C30D23;
    float: left;
    font-weight: bold;
    text-align: center;
    margin-right: 3px;
    line-height: 40px;
    padding-top: 5px;
}

.crumbs_wrap .crumbs p {
    color: #fff;
    border-radius: 50%;
    background: #cccccc;
    float: left;
    font-size: 1.1em;
    padding: 25% 10% 20% 15%;
    width: 70%;
}

.crumbs_wrap .pass p {
    color: #fff;
    border-radius: 50%;
    width: 70%;
    background: #63823f;
    float: left;
    font-size: 1.1em;
    padding: 25% 10% 20% 15%;
}

.recitembox {
    float: left;
    margin-right: 5px;
    width: 31.5%;
    border: 1px solid #BFBFBF;
    font-size: 80%;
    background: #fff;
    box-shadow: 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px #ccc;
    -webkit-box-shadow: 1px 1px 1px #ccc;
    cursor: pointer;
    margin-left: 5px;
}

.point_s {
    font-weight: bold;
    color: #C60;
    font-size: .8em;
    margin: 5px 5px 0;
}

.inkbox {
    position: relative;
    float: right;
    width: 450px;
    height: 140px;
    padding: 10px 0px;
    overflow: auto;
}

.inkbox table {
    width: 450px;
}

.listitems_ex {
    border: 1px solid #BFBFBF;
    width: 24%;
    float: left;
    margin-left: 5px;
    margin-bottom: 20px;
    font-size: 70%;
    background: #fff;
    box-shadow: 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px #ccc;
    -webkit-box-shadow: 1px 1px 1px #ccc;
    cursor: pointer;
}

#step1 {
    padding-bottom: 50px;
}

#pos_wrap > div {
    clear: both;
    display: inline-block;
    width: 99.8%;
    margin-bottom: 10px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #eae7d2;
    border-radius: 3px;
}

#estimation_wrap table .del_cart {
    background: none;
}

#note_design, #note_printcolor {
    width: 100%;
    height: 100px;
}

#userinfo .inner {
    padding: 20px 0px;
    width: 100%;
}

#userinfo .fl {
    float: left;
    width: 42%;
}
#userinfo .fr {
    float: right;
    width: 54%;
}

#userinfo ul {
    margin-left: 10px;
		width: 250px;
}

#userinfo textarea, #userinfo #addr1, #userinfo #addr2, #userinfo #deliaddr1, #userinfo #deliaddr2 {
    width: 97%;
}

#step6 table {
    width: 100%;
}

p.scroll_top {
    clear: both;
    width: 100%;
    margin: 20px auto;
    text-align: right;
}

#mainwrap #main h2.righttxt {
    font-size: 2em;
    letter-spacing: 1px;
    text-align: right;
    padding-right: 3%;
    color: #ffffff;
}

#history_table tbody td #itmname{
	width:150px;
}

.next_button{
    display:none;
}

#delivery_date_wrapper_1 {
    border: 4px solid #931A18;
    float: left;
    margin: 10px 0 10px 12px;
    position: relative;
    width: 41%;
}

.nouki_title {
    font-size: 15px;
    margin: 10px 0;
    color: #981B20;
    font-weight: bold;
}

.nouki_button {
    font-size: 10px;
    border: 1px solid #555;
    width: 44%;
    line-height: 283%;
    color: #555;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 1px 1px 3px #888;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));
    margin-bottom: 0;
    text-align: center;
    position: relative;
    left: 66px;
    top: -10px;
    padding: 1px;
    text-decoration: none;
}

.nouki_button img {
    margin: -6px 3px;
}

.nouki_sel {
    text-align: left;
    color: #981B20;
    font-size: 14px;
    font-weight: 600;
    margin: 11px 0 0 10px;
}

.nouki_sel img {
    margin: -10px 8px;
    width: 11%;
}

.select {
    margin: 10px 0 18px 54px;
    text-align: left;
    position: relative;
}

.calendar {
    border: 1px solid;
    border-radius: 4px;
    width: 230px;
    margin: 10px auto 9px;
}
/*
#delivery_date_wrapper {
    float: left;
    margin: 10px 2px 0px;
    position: relative;
    width: 53%;
    background-size: contain;
    height: 407px;
}
*/

.time_plan .first {
    float: left;
    margin: 10px 2% 10px 2%;
    padding: 2% 7%;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: -webkit-gradient(linear, left top, left bottom, from(#ef9a78), to(#B9320D));
}

.time_plan .second {
    float: left;
    border: 1px solid;
    margin: 9px 2% 10px 0%;
    padding: 2% 2%;
    border-radius: 5px;
    font-size: 19px;
    color: white;
    background: -webkit-gradient(linear, left top, left bottom, from(#b3b58e), to(#4D682B));
}
#delivery_date_wrapper_2 {
    width: 100%;
}

.orderbtn li {
    float: left;
    margin: 9px 2px;
    width: 32.7%;
}
.orderbtn .item_text {
    font-size: 12px;
    margin-top: 7px;
    line-height: 23px;
    text-align: left;
    height: 87px;
}

.topdescrip .leftimg.logo {
    width: 52%;
    padding: 10px;
    margin: 0 138px;
}

.topdescrip_content {
    padding: 10px;
    text-align: left;
    width: 97%;
    float: right;
}

.delivery_box {
    border: 3px solid black;
    width: 196px;
    height: 24px;
    margin: 18px 13px 53px;
    top: 69px;
    position: relative;
    background-color: #F4DC5D;
}

#delivery_date_wrapper {
    float: left;
    position: relative;
    background-image: url(../img/top/st_answer_waku_01.jpg);
    margin: 10px 2px 10px 1.2%;
    padding-bottom: 15%;
    width: 54.9%;
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
}
.delivery_date_box {
    border: 4px solid black;
    width: 46%;
    height: 34%;
    top: 55.9%;
    left: 2%;
    position: absolute;
    background-color: #F4DC5D;
    font-size: 1em;
    font-weight: bold;
    line-height: 15px;
}
}

/*===============================================
●smart.css  画面の横幅が640pxまで
===============================================*/
@media screen and (max-width:640px){



#logo {
    width: 100%;
    float: none;
}
#headside {
    float: none;
    width: 100%;
    margin: 0 10%;
}

#headside .offtel {
    display: none;
}


#inqmail_btn li {
    float: left;
    padding-left: 5px;
    width: 15%;
}

#global_nav {
    width: 100%;
    margin: 0 auto;
    letter-spacing: 1px;
}


.orderbtn li {
    float: left;
    margin: 1px 0;
    width: 48%;
    padding: 3px;
}

.orderbtn .item_text {
    font-size: 12px;
    margin-top: 7px;
    line-height: 19px;
    text-align: left;
    margin-bottom: 5px;
}

.orderbtn .seence {
    margin: 1px 2%;
    width: 93%;
    padding: 6px;
}
.topdescrip_content {
    padding: 10px 2%;
    text-align: left;
    width: 95%;
    float: none;
}

.topdescrip .leftimg.logo {
    padding: 10% 2%;
    width: 95%;
    margin: 0;
}
.topdescrip .leftimg {
    display: block;
    width: 100%;
    float: none;
}

.tab li {
    background: #EFE8DF;
    padding: 5px 0% 5px;
    float: left;
    width: 24.4%;
    border-left: 1px solid #D8CDBF;
    border-top: 1px solid #D8CDBF;
    border-right: 1px solid #D8CDBF;
    font-weight: bold;
}

.crumbs_wrap .crumbs {
    float: left;
    width: 16.6%;
}

.crumbs_wrap .arr {
    float: right;
    border: 5px solid transparent;
    border-left: 5px solid #cccccc;
    margin: 25% 0 0 2%;
    width: 0;
    height: 0;
}

.crumbs_wrap .crumbs p {
    color: #fff;
    border-radius: 50%;
    background: #cccccc;
    float: left;
    font-size: .6em;
    padding: 18% 10% 18% 10%;
    width: 70%;
}

.crumbs_wrap .pass p {
    color: #fff;
    border-radius: 50%;
    width: 70%;
    background: #63823f;
    float: left;
    font-size: .6em;
    padding: 18% 10% 18% 10%;
}

.contents #gall h2 {
    background: #63823f;
    padding: 20px 10px;
    color: #ffffff;
    width: 100%;
    font-size: 1em;
    text-align: left;
}

.step_inner {
    width: 100%;
    margin-top: 10px;
}

.recommend_item, .listitems {
    padding: 10px 0 10px;
    clear: both;
}


.recommend_item>li:hover {
    border: 1px solid #e1630e;
}
.recitembox {
    float: left;
    margin: 0;
    margin-right: 10px;
    margin-bottom: 40px;
    width: 99%;
    border: 1px solid #BFBFBF;
    font-size: 80%;
    background: #fff;
    box-shadow: 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px #ccc;
    -webkit-box-shadow: 1px 1px 1px #ccc;
    cursor: pointer;
}

ul.recommend_item li.firstrecommend, li.firstlist {
    margin-left: 0;
}
.listitems_ex {
    border: 1px solid #BFBFBF;
    width: 48.5%;
    float: left;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 20px;
    font-size: .6em;
    background: #fff;
    box-shadow: 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px #ccc;
    -webkit-box-shadow: 1px 1px 1px #ccc;
    cursor: pointer;
}

.point_s {
    font-weight: bold;
    color: #C60;
    font-size: .8em;
    margin: 5px 5px 0;
}

.item_name_s {
    margin: 0 6px;
    font-size: 12px;
}

#step1 {
    padding-bottom: 30px;
}

#cur_item_name {
    font-size: 1em;
    font-weight: normal;
}

#cur_item_name_wrap {
    margin: 10px;
    font-weight: bold;
    font-size: .8em;
}

#step2 .item_image {
    float: right;
    width: 100%;
    border: 1px solid #eae7d2;
    border-radius: 3px;
    margin: 0;
    margin-bottom: 10px;
}

#step2 .item_image img {
    width: 100%;
}

#step2 .size_table th {
    padding-top: 10px;
    text-align: right;
    border-bottom: 1px solid #eae7d2;
    font-size: .8em;
}

#step2 .size_table input.forNum {
    width: 3em;
    padding: 4px 1px;
    text-align: right;
}
th, td {
    padding: 2px 0px;
    vertical-align: middle;
    font-size: .9em;
}

#message, .message {
    width: 95%;
    height: 200px;
    padding: 3px;
    font-size: 100%;
    border: 1px solid #aaa;
    background-color: #ffffff;
}

.btn_line {
    margin: 0 10px;
    text-align: center;
}

.arrow_line .step_next {
    float: left;
    width: 70%;
    height: 31px;
    margin: 1px 10px 0 28%;
    padding-left: 10%;
    line-height: 32px;
    text-align: left;
    color: #fff;
    cursor: pointer;
}

p.scroll_top {
    clear: both;
    width: 95%;
    margin: 20px auto;
    text-align: right;
}

#pos_wrap > div {
    clear: both;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    padding: 20px 0 10px 0px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #eae7d2;
    border-radius: 3px;
}

.posimg {
    position: relative;
    padding-left: 5px;
    left: 15%;
    width: 80%;
}

.inkbox {
    position: relative;
    float: right;
    width: 100%;
    height: 80;
    padding: 10px 0px;
    overflow: auto;
}

.inkbox table {
    width: 100%;
}

#estimation_wrap table td {
    padding: 2px 0px 2px 0px;
    font-size: 11px;
    border-bottom: 1px solid #d8d8d8;
}

#estimation_wrap table .btn_sub {
    padding: 4px 15px;
    font-size: 1em;
    font-weight: normal;
    float: left;
}

#estimation_wrap table .btn_sub {
    padding: 4px 14px;
    font-size: 1em;
    font-weight: normal;
    float: left;
}

#estimation_wrap table td img {
    padding-left: 15px;
    padding-top: 5px;
}

#note_design, #note_printcolor {
    width: 100%;
    height: 100px;
}
#userinfo .fr {
    width: 100%;
}

#userinfo textarea, #userinfo #addr1, #userinfo #addr2, #userinfo #deliaddr1, #userinfo #deliaddr2 {
    width: 100%;
}

#step6 table {
    width: 100%;
}

#conf_user tbody th, #conf_option tbody th {
    width: 90px;
}

#sendorder {
    width: 100%;
    height: 31px;
    margin: 20px auto 0px;
    padding-left: 10px;
    line-height: 32px;
    text-align: center;
    font-size: 125%;
    color: #fff;
    cursor: pointer;
    padding-right: 100px;
}

p.scroll_top {
    clear: both;
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

p.scroll_top a {
    text-decoration: none;
}

#estimation_wrap table .del_cart {
    background: none;
}

.line_wrapper .cell {
    float: left;
    width: 97%;
    margin: 0 0 30px 5px;
}

.c_text .name_wrap {
    height: 40px;
    margin-bottom: 15px;
}

.c_text .name_wrap a {
    font-size: 1.3em;
}

.c_text .price2, .c_text .size {
    line-height: 1;
    font-size: 1.2em;
}

.c_text .price2 span {
    font-size: 1.2em;
}

.line_wrapper .cell .c_img img {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    width: 90%;
}

.section h2 {
    padding: 30px 2% 5px;
    font-family: 'Anton', "メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","Osaka","ＭＳ Ｐゴシック",sans-serif;
    font-size: 1.3em;
    clear: both;
    text-align: center;
    width: 90%;
}

.tab-content .tab-box {
    width: 98%;
    padding: 0;
    border: 2px solid #981B20;
    box-sizing: content-box;
    display: block;
    height: auto;
}

.tab-content .tab-box .left_font {
    float: none;
    width: 100%;
}

.tab-content .tab-box .right_font {
    float: none;
    width: 100%;
}

.content-lv3 h3 {
    color: #000;
    padding: 0px 0 5px;
    border-bottom: 2px solid #981B20;
    width: 95%;
    font-size: 1.5em;
    text-align: center;
    margin: 12px auto;
    line-height: 1.5;
}

.tab-content .tab-box .left_font h4, .tab-content .tab-box .right_font h4 {
    font-size: 1.3em;
    background: #f1f1f1;
    width: 100%;
    padding: 25px 0 5px;
    text-align: left;
    color: #000000;
    margin: 0;
    text-indent: .8em;
}

#mainwrap #main h2.righttxt {
    font-size: 1.3em;
    letter-spacing: 1px;
    text-align: right;
    padding-right: 2%;
    color: #ffffff;
}

.remarks {
    margin: 15px;
    padding: 2.2em 1.2em 1em;
    border: 3px solid #e1630e;
    border-radius: 3px;
}

.remarks strong {
    margin-bottom: 1em;
    font-size: 1.3em;
    color: #4e2210;
    padding-left: 60px;
}

.sp-bottom-thumbnails, .sp-top-thumbnails {
    left: 0;
    /* margin: 0 auto; */
}

.next_button{
    display:none;
}

#delivery_date_wrapper_1{
    display:none;
}

#delivery_date_wrapper{
    display:none;
    }

.time_plan .second {
    float: left;
    border: 1px solid;
    margin: 0px 6px 4px 16px;
    padding: 17px 10px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    background: -webkit-gradient(linear, left top, left bottom, from(#b3b58e), to(#4D682B));
}
.time_plan .first {
    float: left;
    margin: 0 0px 5px 15%;
    padding: 17px 62px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: -webkit-gradient(linear, left top, left bottom, from(#ef9a78), to(#B9320D));
}

.orderbtn {
    text-align: center;
    clear: both;
    padding: 8px;
}

#step{
    display:none;
    }
#step_2{
    display:block;
    }
    
.tab {
    overflow: hidden;
    margin: 0 auto;
    width: 93%;
}

.tab li.select, .tab li:hover {
    background: #FF9135;
    text-align: center;
    /* cursor: pointer; */
}

.tab li {
    background: #EFE8DF;
    padding: 6px 1px;
    margin: 10px 0 0px;
    float: left;
    width: 24.9%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-left: 1px solid #D8CDBF;
    border-top: 1px solid #D8CDBF;
    border-right: 1px solid #D8CDBF;
    font-weight: bold;
    text-shadow: 0 0 1px #aaa;
}

.tab li span {
    color: #C30D23;
    text-shadow: 0 0 1px #eee;
}

.tab li p {
    font-size: 11px;
    padding: 0 2px;
    margin:0px;
}
.content li {
    background: #383838;
    padding: 20px 20px;
    border-left: 1px solid #D8CDBF;
    border-bottom: 1px solid #D8CDBF;
    border-right: 1px solid #D8CDBF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    text-align: left;
    height: 197px;
    width: 93%;
    margin: 0 auto;
}

.datewrap {
    padding: 8px 0 0 5px;
}

.datewrap span.date {
    background: #fff;
    border-radius: 10px;
    font-size: 50px;
    display: block;
    width: 57px;
    color: #C30D23;
    float: left;
    font-weight: bold;
    text-align: center;
    margin-right: 3px;
    line-height: 65px;
}
.datewrap span.date2 {
    float: left;
    font-size: 30px;
    padding-top: 40px;
    margin-right: 5px;
}

.datewrap span.date3 {
    float: right;
    padding-top: 12px;
    margin-left: 5px;
}

.hide {
    display: none;
}

#plandays {
    display: block;
    margin-bottom: -12px;
}

.nouki_button_2 {
    font-size: 10px;
    border: 1px solid #555;
    width: 26%;
    line-height: 283%;
    color: #555;
    margin: 0 auto;
    border-radius: 4px;
    /* box-shadow: 1px 1px 3px #888; */
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));
    margin-bottom: 0;
    text-align: center;
    position: relative;
    left: 120px;
    bottom: 149px;
    padding: 0px;
    text-decoration: none;
    height: 25px;
}

.nouki_button_2 a {
    text-decoration: none;
    color: blue;
}
    
    .time_plan {
        float: none;
        width: 100%;
    }
    
    .nouki_button {
        display: none;
    }
    
    #deri_topttl{
        display: none;
    }

    #delivery_date_main {
        margin: 10px auto 0;
    }
    
    #option p {
    font-size: 11px;
    padding: 4px;
}


}

/*===============================================
●smart.css  画面の横幅が568pxまで
===============================================*/
@media screen and (max-width:568px){

.tab {
    overflow: hidden;
    margin: 0 auto;
    width: 93%;
    line-height: normal;
}
.tab li p {
    font-size: 10px;
    padding: 3px 0px;
    margin: -1px;
}
.tab li.select, .tab li:hover {
    background: #FF9135;
    text-align: center;
    /* cursor: pointer; */
}
.tab li {
    background: #EFE8DF;
    padding: 4px 1px;
    margin: 10px 0 0px;
    float: left;
    width: 24.6%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-left: 1px solid #D8CDBF;
    border-top: 1px solid #D8CDBF;
    border-right: 1px solid #D8CDBF;
    font-weight: bold;
    text-shadow: 0 0 1px #aaa;
    font-size: 12px;
}

.datewrap span.date2 {
    float: left;
    font-size: 23px;
    padding-top: 31px;
    margin-right: 5px;
}

.time_plan .second {
    float: left;
    border: 1px solid;
    margin: 0px 6px 4px 3%;
    padding: 17px 10px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    background: -webkit-gradient(linear, left top, left bottom, from(#b3b58e), to(#4D682B));
}
.datewrap span.date {
    background: #fff;
    border-radius: 10px;
    font-size: 46px;
    display: block;
    width: 45px;
    color: #C30D23;
    float: left;
    font-weight: bold;
    text-align: center;
    margin-right: 3px;
    line-height: 54px;
}

    .nouki_button_2 {
        font-size: 10px;
        border: 1px solid #555;
        width: 30%;
        line-height: 235%;
        color: #555;
        margin: 0 auto;
        border-radius: 4px;
        background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));
        margin-bottom: 0;
        text-align: center;
        position: relative;
        left: 95px;
        bottom: 158px;
        padding: 0px;
        text-decoration: none;
        height: 25px;
    }

}


/*===============================================
●smart.css  画面の横幅が425pxまで
===============================================*/
@media screen and (max-width:425px){
.time_plan .first {
    float: left;
    margin: 0 1px 5px 8px;
    padding: 17px 46px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: -webkit-gradient(linear, left top, left bottom, from(#ef9a78), to(#B9320D));
}

#delivery_date_wrapper_2 {
    float: left;
    width: 100%;
    margin: 0 6%;
}
}

/*===============================================
●smart.css  画面の横幅が360pxまで
===============================================*/
@media screen and (max-width:360px){
#delivery_date_wrapper_2 {
    float: left;
    width: 100%;
    margin: 0px 13px;
}

}

/*===============================================
●smart.css  画面の横幅が320pxまで
===============================================*/
@media screen and (max-width:320px){
#delivery_date_wrapper_2 {
    float: left;
    width: 100%;
    margin: 0px -2px;
}

}
