@charset "utf-8";
h2.heading2 {
    padding: 12px 12px 10px;
    font-size: 28px;
    border-bottom: 3px solid #981B20;
    letter-spacing: 1px;
    text-align: center;
    width: 450px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

#mainwrap #main p {
    text-align: left;
}

#mainwrap #main .scen_btn {
    display: inline-block;
    padding-top: 20px;
}

#mainwrap #main .btn_rescue {
    height: 34px;
    color: #ffffff;
    padding: 10px 8px 10px;
    text-align: center;
    text-decoration: none;
    background: #981B20;
}

#mainwrap #main .btn_rescue:hover {
    background: #ffffff;
    border: 1px solid #981B20;
    color: #981B20;
}

.content-lv3 h3 {
    color: #000;
    /* padding: 5px 0 5px; */
    border-bottom: 2px solid #981B20;
    width: 95%;
    font-size: 1.5em;
    text-align: center;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.orderbtn .scenprt1 {
    width: 48%;
    background: #b89595;
    float: left;
    overflow: visible;
    padding: 10px 0 80px;
    display: block;
    margin: 10px 5px;
}

.orderbtn .scenprt2 {
    margin: 10px 5px;
    width: 48%;
    background: #acb9cd;
    overflow: visible;
    padding: 10px 0 80px;
    display: block;
}

.orderbtn .scenprt3 {
    margin: 10px 5px;
    width: 48%;
    background: #e8c3a7;
    overflow: visible;
    padding: 10px 0 80px;
    display: block;
}

.orderbtn .scenprt4 {
    margin: 10px 5px;
    width: 48%;
    background: #a9c888;
    overflow: visible;
    padding: 10px 0 80px;
    display: block;
}

.orderbtn .bkgr1 {
    padding: 10px 10px 15px;
}

.orderbtn .bkgr1 h4 {
    width: 75%;
    float: left;
    font-weight: bold;
    font-size: 1.5em;
    text-align: left;
    padding-top: 20px;
}

.orderbtn li.itmbtn {
    float: left;
    margin: 8% 2% 0;
    width: 29%;
    background: #ffffff;
    height: 280px;
}

#orderbtn_wrap_up {
    text-align: center;
    clear: both;
    padding-top: 50px;
}

#orderbtn_wrap_up .orderbtn {
    width: 250px;
    height: 34px;
    padding: 15px 0 0;
    text-align: center;
    margin: 10px auto;
    display: inline-block;
    text-decoration: none;
    background: #63823f;
    color: #ffffff;
    border: 1px solid #63823f;
}

#orderbtn_wrap_up .orderbtn:hover {
    border: 1px solid #63823f;
    background: #ffffff;
    color: #63823f;
}

.content-lv3 .topdescrip {
    padding: 40px 0;
}

.topdescrip_content {
    float: right;
    width: 52%;
}

.topdescrip .leftimg.logo {
    padding: 7% 3% 3%;
    width: 40%;
    float: left;
}


/*===============================================
●tablet.css 画面の横幅が768pxまで
===============================================*/

@media screen and (max-width: 768px) {
    .orderbtn .bkgr1 h4 {
        width: 100%;
        float: left;
        font-weight: bold;
        font-size: 1.3em;
        text-align: center;
        padding-bottom: 20px;
    }
    .orderbtn .scenprt1 {
        width: 46%;
        background: #b89595;
        float: left;
        overflow: visible;
        padding: 10px 0 20px;
        display: block;
        margin: 1px 2%;
    }
    .orderbtn .scenprt2 {
        margin: 1px 2%;
        width: 46%;
        background: #acb9cd;
        overflow: visible;
        padding: 10px 0 20px;
        display: block;
    }
    .orderbtn .scenprt3 {
        margin: 1px 2%;
        width: 46%;
        background: #e8c3a7;
        overflow: visible;
        padding: 10px 0 20px;
        display: block;
    }
    .orderbtn .scenprt4 {
        margin: 1px 2%;
        width: 46%;
        background: #a9c888;
        overflow: visible;
        padding: 10px 0 20px;
        display: block;
    }
    .orderbtn li.itmbtn {
        float: left;
        margin: 8% 2% 0;
        width: 29%;
        background: #ffffff;
        height: auto;
    }
    .content-lv3 .topdescrip {
        padding: 20px 0;
    }
}


/*===============================================
●smart.css  画面の横幅が640pxまで
===============================================*/

@media screen and (max-width:640px) {
    h2.heading2 {
        padding: 12px 1% 10px;
        font-size: 1.5em;
        border-bottom: 3px solid #981B20;
        letter-spacing: 1px;
        text-align: center;
        width: 95%;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 20px;
        line-height: 1.5;
    }
    .orderbtn .bkgr1 {
        padding: 10px 10px 15px;
        text-align: center;
    }
    .orderbtn .bkgr1 h4 {
        width: 95%;
        font-weight: bold;
        font-size: 1.2em;
        text-align: center;
        padding: 10px 2% 20px;
    }
    .orderbtn .scenprt1 {
        margin: 10px 2%;
        width: 95%;
        background: #b89595;
        padding: 0;
        padding-bottom: 10px;
    }
    .orderbtn .scenprt2 {
        margin: 10px 2%;
        width: 95%;
        background: #acb9cd;
        padding: 0;
        padding-bottom: 10px;
    }
    .orderbtn .scenprt3 {
        margin: 10px 2%;
        width: 95%;
        background: #e8c3a7;
        padding: 0;
        padding-bottom: 10px;
    }
    .orderbtn .scenprt4 {
        margin: 10px 2%;
        width: 95%;
        background: #a9c888;
        padding: 0;
        padding-bottom: 10px;
    }
    .orderbtn li.itmbtn {
        float: left;
        margin: 5% 1% 2%;
        width: 31%;
        background: #ffffff;
        display: list-item;
        padding: 0;
        height: auto;
    }
    #mainwrap #main .btn_rescue {
        height: 34px;
        color: #ffffff;
        padding: 10px 5px 0;
        text-align: center;
        text-decoration: none;
        background: #981B20;
        display: block;
        border: 1px solid #981B20;
    }
    #orderbtn_wrap_up {
        text-align: center;
        clear: both;
        padding-top: 0px;
    }
    .content-lv3 .topdescrip {
        padding: 0;
    }
}
