@charset "utf-8";

/*------------------------------------------------------------

2014 takahama web css

	File_name	: deliveryday.css
	Description	: お届日の計算
	
	log
	2014-04-06	: created
	2014-04-18	: リニューアル
	2014-09-03	: キャンペーンバナー
	2014-11-12	: 2大キャンペーンバナー
	
-------------------------------------------------------------- */



/*		見出し
===============================================================*/
.heading1_wrapper{
	padding-bottom:30px;
}
.heading2_s h2{
	background: url(../../common/img/list_icon_b.png) no-repeat left;
	padding-left: 30px;
	margin-left: 3px;
	letter-spacing: 2px;
	color:#803300;
}
.heading2_s h2 span{
	font-weight:bold;
}

.heading2_s, .heading2 {
    margin: 15px 10% 20px;
    font-size: 1.5em;
    text-align: center;
}


.heading2 .sub {
	margin:0;
	display: inline;
	padding-left: 2em;
}
.heading2 h2 {
	display: inline;
	padding-bottom: 3px;
	color: #666;
	
}
.heading2 h2 span{
	font-family: 'Times New Roman';
	font-size: 125%;
	padding-right: 0.2em;
	color: #000;
}
.heading3{
	color: #803300;
	font-size: 18px;
	font-weight: normal;
}
.heading3 span{
	font-weight:bold;
	font-size:20px;
}

/*		今、注文の発送予定日
===============================================================*/
.delivery_date_wrapper {
    border: 2px solid #eae7d2;
    border-radius: 3px;
    padding: 0 15px;
    background: #fff;
    clear: both;
}

/*		日付を指定して調べる
===============================================================*/
.s_step{
	padding-bottom:20px;
}
.s_step_inner{
	padding:10px;
}
.s_step .kome{
	padding-left: 5px;
}
.s_step_inner .pointer{
	color: #1055e0;
}
.cal_date{
	display: none;
	clear:both;
	border: 1px dotted #000;
	padding: 10px;
	background: #fff;
	margin-bottom: 15px;
}
.cal_date h4{
	font-size: 16px;
	border-bottom: 1px dotted #000;
	margin-bottom: 15px;
}
.cal_date h4 span{
	font-weight:bold;
}
#cal_date>div {
    float: left;
    display: block;
    border: 1px solid #000;
    margin-bottom: 40px;
    margin-right: 3%;
    margin-left: 3%;
}
#cal_date>div .date_title {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    padding: 3px 5px;
    text-align: center;
}
#cal_date>div#fixed_date, #cal_date>div#deli_date {
    width: 30%;
}
#cal_date>div#fixed_date .date_title{
	background:#001D87;
}
#cal_date>div#deli_date .date_title{
	background:#870001;
}
#cal_date>div#arrow {
    border: none;
    margin-top: 30px;
    width: 15%;
}

#cal_date>div#arrow img {
    border: none;
    margin: 10px 5% 0px;
}

#other_info {
    width: 95%;
    margin: 3%;
}

#cal_date>div#fixed_date, #cal_date>div#deli_date {
    width: 32%;
}


#cal_date .cal_date_inner{
	padding:5px;
}
#cal_date .cal_date_inner p {
	margin: 10px 0;
	text-align: center;
}
#cal_date .cal_date_inner p:first-child {
    margin: 10px;
    text-align: left;
}

/*カレンダー*/

.cal_red{
	clear:both;
}


.cal_red li, .cal_blue li {
    display: block;
    float: left;
    width: 25%;
}

.cal_red li div{
	border: 1px solid #ccc;
	margin: 0 7px;
	background: #fff;
	box-shadow: 0 0 1px #ccc;
	color: #DF3C31;
	font-weight: bold;
	text-align: center;
	padding-bottom:5px;
}



.cal_red li div .deribdr {
    background: #870001;
    padding: 5px 0 0;
    display: block;
}

.cal_blue li div .deribdr-1 {
    background: #001D87;
    padding: 5px 0 0;
    display: block;
}


.cal_blue li div{
	border: 1px solid #ccc;
	margin: 0 7px;
	background: #fff;
	box-shadow: 0 0 1px #ccc;
	font-weight: bold;
	text-align: center;
	padding-bottom:5px;
}
.cal_red li .kome{
	text-align: right;
	padding: 0 5px;
}
.cal_red li img.bg_r {
    background: #870001;
    padding: 5px;
    margin: 0px;
}
.cal_red li .mm{
	font-size: 25px;
}
.cal_red li .dd{
	font-size: 65px;
	line-height: 70px;
}


.cal_blue li.li_b0 img.bg_b{
	background: #495687;
	padding: 5px;
}
.cal_blue li.li_b img.bg_b{
	background: #001D87;
	padding: 5px;
}
.cal_blue li.li_b0 .otodoke_b {
    color: #495687;
    font-size: 1em;
    padding: 5px 0 0;
}
.cal_blue li.li_b .otodoke_b {
    color: #001D87;
    font-size: 1em;
    padding: 5px 0 0;
}
.cal_blue li.li_b0 .mm{
	color: #495687;
	font-size: 22px;

}
.cal_blue li.li_b0 .dd{
	color: #495687;
	font-size: 60px;
	line-height: 62px;

}
.cal_blue li.li_b .mm{
	color: #001D87;
	font-size: 25px;

}
.cal_blue li.li_b .dd {
    color: #001D87;
    font-size: 60px;
    line-height: 62px;
}
.cal_blue li.li_b0 .time_b{
	color: #495687;
	font-size:16px;
}
.cal_blue li.li_b .time_b{
	color: #001D87;
	font-size:20px;
}
.cal_blue li.li_b0 .tel_b {
    font-size: .9em;
    line-height: 20px;
    color: #333;
    font-weight: normal;
}
.cal_blue li.li_b .tel_b {
    font-size: .9em;
    line-height: 20px;
    color: #000;
    font-weight: normal;
}
.cal_blue li .kome{
	text-align:right;
	padding:0 5px;
}
.cal_blue li.li_b_msg {
    font-size: 32px;
    padding: 70px 20px;
    line-height: 1.5;
}

.delivery_date_wrapper .note{
	clear: both;
	text-indent: 0;
	padding: 10px 0;
	font-size: 12px;
	background: url(/common/img/dotted.png) repeat-x left top;
	margin-top: 50px;
}
.delivery_date_wrapper .note span{
	color: #ff0019;
}

/*----------------------------------
    注文開始
----------------------------------*/
.btnOrder_wrap {
	clear: both;
}

.btnOrder_wrap #btnnvy{
    display: block;
    width: 100%;
    height: 40px;
    padding: 10px 0px 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    background: #001D87;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-right: 200%;
}

.btnOrder_wrap #btngrn{
    display: block;
    width: 100%;
    height: 40px;
    padding: 10px 0px 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    background: #63823f;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-left: 200%;
}


#btnOrder {
    display: block;
    float: right;
    width: 95px;
    height: 25px;
    padding-left: 35px;
    line-height: 25px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background: url(/common/img/start_btn.png) no-repeat 0px 0px;
    cursor: pointer;
    margin-right: 5px;
}
#btnOrder:hover {
	background-position: 0px -25px;
	text-decoration: none;
}

.btnOrder_wrap #btngrn:hover {
    border: 2px solid #63823f;
    color: #63823f;
    background-color: #ffffff;
}

.btnOrder_wrap #btnnvy:hover {
    border: 2px solid #001D87;
    color: #001D87;
    background-color: #ffffff;
}

.btnOrder_wrap2 #btngrn {
    display: block;
    width: 25%;
    height: 40px;
    padding: 10px 0px 30px;
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    background: #63823f;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    clear: both;
    margin-left: 66%;
    border:2px solid #63823f;
}

.btnOrder_wrap2 #btngrn:hover {
    border: 2px solid #63823f;
    color: #63823f;
    background-color: #ffffff;
}

/*		条件・料金・スケジュール
===============================================================*/
.plan_wrapper {
	clear: both;
	margin-top: 40px;
	padding-bottom: 10px;
}
.plan_list{
	margin: 10px 0px 10px 40px;
	padding: 5px 10px;
}
.plan_list li {
	list-style-type: decimal;
	color: #444;
}

/* 料金 */
.msg{
	margin: 10px 0px 0 40px;
	padding: 5px 10px 0;
}
.msg span{
font-size: 125%;
color: #ff0019;
}

.note span:first-child {
    color: #ff0019;
}


/*		バナー
===============================================================*/
#bigbanner {
    text-align: right;
    margin: 20px 0;
    width: 50%;
    float: right;
}

.bigbanner {
	margin-bottom: 12px;
}
#campaign_class-t {
	display: block;
	width: 729px;
	height: 110px;
	background: url(/img/banner/pc-banner.png) no-repeat 0 0;
	cursor: pointer;
}
#campaign_class-t:hover {
	background-position: 0 -110px;
}

/* 2大キャンペーン */
#nidai_campaign_banner {
	width: 729px;
	height: 200px;
	cursor: pointer;
	background: url(/img/banner/428_under_nidai.png) no-repeat center top;
}
#nidai_campaign_banner:hover {
	background-position: center bottom;
}




/*		お問合せ先
===============================================================*/
.box_c {
	padding-top: 120px;
	margin-top: 20px;
	border: 1px solid #eae7d2;
	background: #fff url(/common/img/banner1.jpg) no-repeat top center;
	border-radius: 3px;
}
.box_c span {
	padding-right: 30px;
}
.box_c .bg {
	padding: 20px 20px 10px;
}
.box_c .bg img {
	vertical-align: text-top;
}


/* 当日特急プラン　
===============================================================*/

.inflist {
    margin-top: 10px;
    margin-left: 50px;
    text-align: left;
}

.inflist li {
    padding: 5px;
}

.inflist p {
    font-size: 1.8em;
}

.inflist .stg {
    font-weight: bold;
}

.inflist .rgttxt {
    text-align: right;
    margin-right: 280px;
    font-size: 1em;
}

.inflist .rgttxt .red {
    color: #ff0000;
}

h3.lines-on-sides {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 2.1em;
    padding: 20px 0px 10px;
}

.ptxt {
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
}


.daytxt {
    font-size: 1.2em;
    text-align: right;
    margin-right: 50px;
}


.daytxt .red {
    color: #ff0000;
}

.heading {
    clear: both;
    margin: 20px 0 15px;
    display: block;
}


.heading .leftdrop {
    float: left;
}

.heading .textnon{
	display:none;
}


.inflist {
    margin-top: 10px;
    margin-left: 50px;
    text-align: left;
    padding-top: 30px;
    clear: both;
}

.inflist li {
    padding: 5px;
}

.inflist .stgbl {
    font-weight: bold;
    color: #981B20
    font-style: italic;
}

.inflist p {
    font-size: 1.8em;
    line-height: 1.5;
}

.inflist .rgttxt {
    text-align: right;
    margin-right: 10em;
    font-size: 1em;
}

.inflist .rgttxt .red {
    color: #ff0000;
}

.ptxt2 {
    font-size: 1.8em;
    font-weight: bold;
    text-align: left;
    margin-left: 50px;
    line-height: 1.5;
}

h3.lines-on-sides {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 2.1em;
    padding: 20px 0px 10px;
}

.ong {
    margin: 0 auto;
    margin-top: 20px;
}

.ong p {
    font-size: 2em;
    color: #981B20;
    text-align: center;
    font-weight: bold;
    line-height: 1.5;
}

.ong .bktxt {
    font-size: 1em;
    color: #000000;
    text-align: center;
}

.samday img {
    margin: 20px 10%;
}


/*===============================================
●tablet.css 画面の横幅が768pxまで
===============================================*/
@media screen and (max-width: 768px){


#bigbanner {
    text-align: right;
    margin: 20px 0;
    width: 70%;
    float: right;
}

.heading2_s h2 {
    background: url(../../common/img/list_icon_b.png) no-repeat left;
    padding-left: 10px;
    margin-left: 3px;
    letter-spacing: 2px;
    color: #803300;
}

.heading2_s, .heading2 {
    margin: 15px 1% 20px;
    font-size: 1.5em;
    text-align: center;
}

#cal_date>div {
    float: left;
    display: block;
    border: 1px solid #000;
    margin-bottom: 40px;
    margin-right: 1%;
    margin-left: 2%;
}

#cal_date>div#arrow {
    border: none;
    margin-top: 40px;
    width: 25%;
}

.cal_red li div .deribdr img {
	width:90%;
}

.cal_blue li div .deribdr-1 img{
	width:70%;
}

.cal_blue li.li_b_msg {
    font-size: 1.5em;
    padding: 70px 10px 30px;
    line-height: 1.5;
}

.cal_blue li.li_b .otodoke_b {
    color: #001D87;
    font-size: 1.1em;
    padding: 5px 0 0;
}

.cal_blue li.li_b .tel_b {
    font-size: .9em;
    line-height: 20px;
    color: #000;
    font-weight: normal;
}

.cal_blue li.li_b0 {
    margin-top: 0px;
}

.cal_blue li.li_b0 img.bg_b {
    background: #495687;
    padding-top: 3px;
}

.inflist p {
    font-size: 1.2em;
    line-height: 1.5;
}

.inflist {
    margin-top: 10px;
    margin-left: 3%;
    text-align: left;
}

.ptxt {
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    padding-bottom: 10px;
    line-height: 1.5;
}

.samday img {
    margin: 20px 5%;
    width: 90%;
}

.ptxt2 {
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    margin-left: 3%;
    line-height: 1.5;
}

.ong {
    margin-top: 20px;
    margin-left: 3%;
}

.ong p {
    font-size: 1.5em;
    color: #981B20;
    text-align: left;
    font-weight: bold;
    line-height: 1.5;
}

}



/*===============================================
●smart.css  画面の横幅が640pxまで
===============================================*/
@media screen and (max-width:640px){

.heading2_s, .heading2 {
    margin: 15px 5% 20px;
    font-size: 1.5em;
    text-align: left;
}

.heading2_s h2 {
    background: url(../../common/img/list_icon_b.png) no-repeat left;
    margin-left: 3px;
    letter-spacing: 2px;
    color: #803300;
}

.cal_red li div .deribdr img {
    width: 45%;
}

.cal_red li, .cal_blue li {
    display: block;
    float: left;
    width: 100%;
}

.btnOrder_wrap {
    clear: both;
    padding: 10px;
}

.btnOrder_wrap #btngrn {
    display: block;
    width: 100%;
    height: 40px;
    padding: 10px 0px 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    background: #63823f;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-left: 0;
}

.btnOrder_wrap2 #btngrn {
    display: block;
    width: 95%;
    height: 40px;
    padding: 10px 0px 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    background: #63823f;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    clear: both;
    margin: 0 2%;
}

#cal_date>div#fixed_date, #cal_date>div#deli_date {
    width: 95%;
}

#cal_date>div#arrow {
    border: none;
    /* margin-top: 20px; */
    width: 38%;
    margin: 0px 5% 20px;
    display: inline;
    clear: both;
}

#cal_date>div#arrow img {
    border: none;
    margin: 30% 75% 30%;
    transform: rotateZ( 90deg );
}


#cal_date>div {
    float: left;
    display: block;
    border: 1px solid #000;
    margin-bottom: 25px;
    margin-right: 2%;
    margin-left: 2%;
}


.cal_blue li div .deribdr-1 {
    background: #001D87;
    padding: 5px 0 0;
    display: block;
}

.cal_blue li div .deribdr-1 img {
    width: 45%;
}


#other_info{
    width: 95%;
    margin: 3%;
}

.box_c {
    padding-top: 20%;
    margin-top: 20px;
    border: 1px solid #eae7d2;
    background: #fff url(/common/img/banner1.jpg) no-repeat top center;
    border-radius: 3px;
    background-size: 100%;
}

.box_c .bg {
    width: 100%;
}

.box_c span {
    text-align: center;
    padding-left: 15%;
}

.box_c .bg img {
    width: 70%;
    margin: 10px 15%;
}

.box_c .bg {
    padding: 0;
}

#bigbanner {
    margin: 10px 3%;
    width: 95%;
}

.plan_wrapper {
    clear: both;
    padding-bottom: 10px;
}

.heading {
    clear: both;
    margin: 20px 0 15px;
    padding: 0em 0em .6em;
    font-weight: bold;
    background: #981B20;
    color: #fff;
    height: 45px;
    display: block;
}


.heading .leftdrop {
    display: none;
}

.heading p {
    padding-top: 15px;
    font-size: 1.5em;
    text-align: center;
    margin: 0;
}

.heading .textnon {
    display: block;
}

.inflist .rgttxt {
    text-align: left;
    margin-right: 1em;
    font-size: 1em;
}

.inflist p {
    font-size: 1em;
    line-height: 1.5;
}

.inflist .imgA {
	width:240px;
}

.inflist .imgB {
	width:180px;
}

.inflist .imgC {
	width:160px;
}

h3.lines-on-sides {
    display: block;
    align-items: inherit;
    text-align: left;
    font-size: 1.5em;
    padding: 0px 2% 5px;
    width: 100%;
}

.ptxt {
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    line-height: 1.5;
}

.daytxt {
    font-size: 1em;
    text-align: left;
    margin: 0;
}

.samday img {
    margin: 20px 1%;
    width: 100%;
}

.ong p {
    font-size: 1.2em;
    color: #981B20;
    text-align: left;
    font-weight: bold;
    line-height: 1.5;
}

}


/* 修正 boottrap */

.flexnav>li#flowmenu>a {
    padding-top: 13px;
    height: 44px;
    line-height: 16px;
    padding-bottom: 13px;
}

.flexnav>li>a {
    height: 44px;
}

.flexnav li a {
    position: relative;
    display: block;
    padding: 1em .2em;
    z-index: 2;
    color: #fff;
    background: #981B20;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    text-decoration: none;
    text-align: center;
}

#inqmail_btn li {
    float: left;
    padding-left: 5px;
    padding-bottom: 8px;
}

#gFooter li.red a {
    height: 70px;
}

#gFooter li a {
    display: block;
    text-decoration: none;
    height: 70px;
    padding: 25px 0px 15px;
    width: 100%;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}